html {
	overflow-x: hidden;
}

body {
	background-color: black;
}

.centerBox {
	color: white;
	position: absolute;
	top: 37%;
	right: 50%;
	-webkit-transform: translate(50%,0%);
	font-size: 35px;
}

.merchant{
	top: 37%;
	right: 50;
	-webkit-transform: translate(50%,0%);
}

#titleLogo {
	width: 1000px;
    height: 200px;
}

#userInput {
	position: absolute;
	bottom: 1%;
	width: 98%;
	text-align: center;
	font-size: 30px;
	background-color: black;
	color: white;
	border: none;
}

input:focus {
	outline: none;
}

#userDirections {
	font-size: 25px;
	color: white;
	text-align: center;
	margin-top: 2%;
	position: absolute;
	bottom: 1%;
	width: 98%;
}

#content-2 {
	display: none;
}