body {
	background-color: black;
}

#wrapper {
	height: 100vh;
}

#traveling {
	height: 50%;
	align-item: center;
	overflow: hidden;
}

#travel{
	align-self: center;
}

#userStats {
	color: white;
	height: 40%;
	text-align: center;
	font-size: 25px;
	top: 50%;
}

#userDirections {
	font-size: 25px;
	color: white;
	text-align: center;
}

#landmark
{
	position: absolute;
	left: -12%;
	top: 115px;
}

#notification
{
	display: none;
	-webkit-transform: translate(-50%,0%);
	color: white;
	background-color: black;
	position: absolute;
	top: 18%;
	left: 48%;
	font-size: 40px

}